/* 共通 */
.sp_only {
    display: none;
  }
  
  .pc_only {
    display: block;
  }
  
  .header {
    position: fixed;
    width: 100%;
    min-width: 768px;
    height: 80px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000014;
    opacity: 0.95;
    z-index: 999999;
  }
  
  main {
    width: 100%;
    overflow: hidden;
  }

  li {
    text-align: -webkit-match-parent;
}
  a {
    cursor: pointer;
  }
  
  a:hover {
    transition: 0.3s;
    font-size: 16px;
    color: red;
    font-weight: bold;
  }
  
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn span {
    display: none;
    font-size: 12px;    
    color: white;
    font-weight: bold;
  }
  .btn:hover {
    transition: 0.3s;
    background: #AB0219 0% 0% no-repeat padding-box;
    border-radius: 28px;
  }
  .btn:hover span{
    display: block;
  }
  
  .text-center {
    text-align: center;
  }
  .font-14 {
    font-size: 14px;
    line-height: 20px;
  }

  .font-16 {
    font-size: 16px;
    line-height: 23px;
  }
  .font-20 {
    font-size: 20px;
    line-height: 23px;
  }
  
  .font-32 {
    font-size: 32px;
    line-height: 40px;
  }
  /* ヘッダー */
  .headerNav {
    display: flex;
    min-width: 768px;
    height: 80px;
    padding-left: 30px;
    margin: 0 auto;
    list-style-type: none;
    align-items: center;
  }
  .headerNav .nav_item {
    margin-right: 48px;
    color: #0f0f0f;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
    letter-spacing: 0px;
    
  }
 
  
  .headerNav .nav_logo {
    margin-right: auto;
    margin-left: 140px;
    align-items: center;
  }
  
  .headerNav .nav_logo h1 {
    font-size: initial;
  }
  
  .headerNav .nav_logo a {
    display: block;
    height: 33px;
  }
  
  .headerNav .nav_logo img {
    width: 218px;
    height: 30px;
  }
  
  .headerNav .btn {
    width: 80px;
    height: 36px;
    margin-right: 140px;
    background-image: url(online_event_Button.png);
  }
  

  /* MV */
    #top {    
        position: relative;
        width: 100%;
        margin-top: 80px;
        height: 700px;
        display: flex;
        background: url(online_event_main_Image@3x.png) no-repeat;
        background-size: cover;
        min-height: 365px;
        background-position: center center !important;
  }
  
#top .top_wrap {
  margin: auto;
  text-align: center;
}

#top .top_wrap .top_content {
  background: #00000029 0% 0% no-repeat padding-box;
  border: 3px solid #FFFFFF;
  margin: auto;
  color: #ffffff;
}

#top .top_wrap .top_content .top_title {
  margin:20px;
}

#top .top_wrap .top_content .top_text {
  margin-bottom: 20px;
}

/*展示会・イベント中止でこんなお悩みありませんか？*/
#issue {
  position: relative;
  width: 100%;
  height: auto;
  
}
.issue_wrap {
  padding-top: 72px;
  margin: auto;
  max-width: 578px;
  text-align: center;
}

.issue_tittle {
  color: #AB0219;
  margin-bottom: 36px;
}

.issue_card_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.issue_card_wrap .card{
  width: 168px;
  height: 168px; 
  background: #FFF68D 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
}

.issue_card_wrap .card img {
  padding-top: 22px;
}

.issue_card_wrap .card .card_text1 {
  padding-top: 19px;
  margin-left: auto;
  margin-right: auto;
  width: 84px;
  height: 42px;
}
.issue_card_wrap .card .card_text2 {
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 117px;
  height: 39px;
}
.issue_card_wrap .card .card_text3 {
  padding-top: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 98px;
  height: 54px;
}

/*リアルからオンラインの時代へ最短で最大の成果に導きます*/
#solution{
  position: relative;
  width: 100%;
  height:auto;
  padding: 72px 0;
  background: #FAFAFA 0% 0% no-repeat padding-box;
}

#solution .solution_wrap {
  margin: 0 auto;
  max-width: 800px;
}

#solution .solution_wrap .section_title {
  margin-bottom: 36px;
  color: #AB0219;
}

#solution .solution_wrap .card_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#solution .solution_wrap .card_wrap .card {
  width: 169px;
  height: 246px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 8px #00000029;
border-radius: 8px;
}

#solution .solution_wrap .card_wrap .card .card_content {
  margin: 16px;
}

#solution .solution_wrap .card_wrap .card .card_content .card_title {
  text-align: center;
  margin-bottom: 8px;
}

/* オンライン展示会・イベント事例 */
#usage {
  position: relative;
  width: 100%;
  height: auto;
  padding: 72px 0 ;
  background: #FFFFFF 0% 0% no-repeat padding-box;
}

#usage .usage_wrap {
  margin: 0 auto;
  max-width: 728px;
}

#usage .usage_wrap .section_title {
  color: #AB0219;
  margin-bottom: 36px;
}

#usage .usage_wrap .card_wrap {
  display: flex;
  flex-wrap: wrap;
}

#usage .usage_wrap .card_wrap .card {
  
  width: 20%;
}

#usage .usage_wrap .card_wrap .card:nth-child(5n) {
  margin-right: 0;
}

#usage .usage_wrap .card_wrap .card:nth-child(-n + 5) {
  margin-bottom: 48px;
}

#usage .usage_wrap .card_wrap .card .card_img img {
  width: 120px;
  height: 120px;
}

#usage .usage_wrap .card_wrap .card .card_content {
  margin-top: 20px;
}

#usage .usage_wrap .card_wrap .card .card_content .card_title {
  text-align: center;
  margin-bottom: 8px;
}
