@media screen and (max-width: 767px) {
  .mktoForm label,
  #Company,
  #Email,
  #Phone,
  #Website,
  #budget,
  #Field1__c_contact {
    width: 100% !important;
  }

  .mktoForm .mktoGutter {
    height: 0 !important;
  }

  #mktoForm_2009 div.privacy-text {
    width: 100% !important;
  }
}
