/* #btn02 (参考 https://125naroom.com/web/2958) */

@media screen and (max-width: 767px) {
  .btn-trigger {
    position: relative;
    width: 50px;
    height: 44px;
    cursor: pointer;
  }

  .btn-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ab0219;
    border-radius: 4px;
  }

  .btn-trigger,
  .btn-trigger span {
    display: inline-block;
    transition: all 0.5s;
    box-sizing: border-box;
  }

  .btn-trigger span:nth-of-type(1) {
    top: 0;
  }

  .btn-trigger span:nth-of-type(2) {
    top: 20px;
  }

  .btn-trigger span:nth-of-type(3) {
    bottom: 0;
  }

  #btn02.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(45deg);
    transform: translateY(20px) rotate(45deg);
  }

  #btn02.active span:nth-of-type(2) {
    opacity: 0;
  }

  #btn02.active span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(-45deg);
    transform: translateY(-20px) rotate(-45deg);
  }
}
