/* 共通 */

.sp_only {
  display: none;
}

.pc_only {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  min-width: 768px;
  height: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 6px #00000014;
  opacity: 0.95;
  z-index: 999999;
}

main {
  width: 100%;
  overflow: hidden;
}

li {
  text-align: -webkit-match-parent;
}

a {
  cursor: pointer;
}

a:hover {
  transition: 0.3s;
  font-size: 16px;
  color: red;
  font-weight: bold;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn span {
  display: none;
  font-size: 12px;
  color: white;
  font-weight: bold;
}

.btn:hover {
  transition: 0.3s;
  background: #ab0219 0% 0% no-repeat padding-box;
  border-radius: 28px;
}

.btn:hover span {
  display: block;
}

.text-center {
  text-align: center;
}

.font-12 {
  font-size: 12px;
  line-height: 14px;
}

.font-14 {
  font-size: 14px;
  line-height: 20px;
}

.font-16 {
  font-size: 16px;
  line-height: 23px;
}
.font-20 {
  font-size: 20px;
  line-height: 23px;
}

.font-32 {
  font-size: 32px;
  line-height: 40px;
}

.font-red {
  color: #AB0219;
}

.bold {
  font-weight: bold;
}

.helvetica {
  font-family: Helvetica;
}

.d-flex {
  display: flex;
}

/* ヘッダー */

.headerNav {
  display: flex;
  min-width: 768px;
  height: 80px;
  padding-left: 30px;
  margin: 0 auto;
  list-style-type: none;
  align-items: center;
}

.headerNav .nav_item {
  margin-right: 48px;
  color: #0f0f0f;
  cursor: pointer;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0px;
}

.headerNav .nav_logo {
  margin-right: auto;
  margin-left: 140px;
  align-items: center;
}

.headerNav .nav_logo h1 {
  font-size: initial;
}

.headerNav .nav_logo a {
  display: block;
  height: 33px;
}

.headerNav .nav_logo img {
  width: 218px;
  height: 30px;
}

.headerNav .btn {
  width: 80px;
  height: 36px;
  margin-right: 140px;
  background-image: url(online_event_Button@2x.png);
  background-size: 80px 36px;
}

/* MV */

#top {
  position: relative;
  width: 100%;
  margin-top: 80px;
  height: 700px;
  display: flex;
  background: url(online_event_main_Image@3x.png) no-repeat;
  background-size: cover;
  min-height: 365px;
  background-position: center center !important;
}

#top .top_wrap {
  margin: auto;
  text-align: center;
}

#top .top_wrap .top_content {
  background: #00000029 0% 0% no-repeat padding-box;
  border: 3px solid #ffffff;
  margin: auto;
  color: #ffffff;
}

#top .top_wrap .top_content .top_title {
  margin: 20px;
}

#top .top_wrap .top_content .top_text {
  margin-bottom: 20px;
}

/* 展示会・イベント中止でこんなお悩みありませんか？ */

#issue {
  position: relative;
  width: 100%;
  height: auto;
}

.issue_wrap {
  padding-top: 72px;
  margin: auto;
  max-width: 578px;
  text-align: center;
}

.issue_tittle {
  color: #ab0219;
  margin-bottom: 36px;
}

.issue_card_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.issue_card_wrap .card {
  width: 168px;
  height: 168px;
  background: #fff68d 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}

.issue_card_wrap .card img {
  padding-top: 22px;
  width: 62px;
  height: 55px;
}

.issue_card_wrap .card .card_text1 {
  padding-top: 19px;
  margin-left: auto;
  margin-right: auto;
  width: 84px;
  height: 42px;
}
.issue_card_wrap .card .card_text2 {
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 117px;
  height: 39px;
}
.issue_card_wrap .card .card_text3 {
  padding-top: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 98px;
  height: 54px;
}

/*リアルからオンラインの時代へ最短で最大の成果に導きます*/

#solution {
  position: relative;
  width: 100%;
  height: auto;
  padding: 72px 0;
  background: #fafafa 0% 0% no-repeat padding-box;
}

#solution .solution_wrap {
  margin: 0 auto;
  max-width: 800px;
}

#solution .solution_wrap .section_title {
  margin-bottom: 36px;
  color: #ab0219;
}

#solution .solution_wrap .card_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#solution .solution_wrap .card_wrap .card {
  width: 169px;
  height: 246px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 8px #00000029;
  border-radius: 8px;
}

#solution .solution_wrap .card_wrap .card .card_content {
  margin: 16px;
}

#solution .solution_wrap .card_wrap .card .card_content .card_title {
  text-align: center;
  margin-bottom: 8px;
}

/* オンライン展示会・イベント事例 */

#usage {
  position: relative;
  width: 100%;
  height: auto;
  padding: 72px 0;
  background: #ffffff 0% 0% no-repeat padding-box;
}

#usage .usage_wrap {
  margin: 0 auto;
  max-width: 728px;
}

#usage .usage_wrap .section_title {
  color: #ab0219;
  margin-bottom: 36px;
}

#usage .usage_wrap .card_wrap {
  display: flex;
  flex-wrap: wrap;
}

#usage .usage_wrap .card_wrap .card {
  width: 20%;
}

#usage .usage_wrap .card_wrap .card:nth-child(5n) {
  margin-right: 0;
}

#usage .usage_wrap .card_wrap .card:nth-child(-n + 5) {
  margin-bottom: 48px;
}

#usage .usage_wrap .card_wrap .card .card_img img {
  width: 120px;
  height: 120px;
}

#usage .usage_wrap .card_wrap .card .card_content {
  margin-top: 20px;
}

#usage .usage_wrap .card_wrap .card .card_content .card_title {
  text-align: center;
  margin-bottom: 8px;
}

/* オンライン展示会場にバーチャル空間の制作が可能 */

#virtual {
  background-color: #fafafa;
}

#virtual .wrapper {
  width: 768px;
  margin: 0 auto;
  padding: 72px 0;
}

#virtual iframe {
  width: 768px;
  height: 432px;
  margin-top: 36px;
  margin-bottom: 36px;
}

/* 支援サービス紹介 */

#service .wrapper {
  margin: 80px auto 101px;
  width: 1000px;
}

#service .wrapper h3 {
  margin-bottom: 36px;
}

#service .subtitle {
  margin-top: 36px;
  margin-bottom: 36px;
}

#service .card {
  display: flex;
}

#service .card:nth-child(even) {
  flex-flow: row-reverse;
}

#service .card:nth-child(odd) div:first-child {
  margin-right: 32px;
}

#service .card:nth-child(even) div:first-child {
  margin-left: 32px;
}

#service .card-img,
#service .card-img img {
  width: 500px;
  height: 375px;
}

#service .card-content {
  width: 372px;
  margin-top: 64px;
}

#service .card-content img {
  display: block;
  width: 88px;
  margin: 0 auto 48px;
}

#service .card-content h4 {
  margin-bottom: 24px;
}

/* ご相談から開催までの流れ */

#flow {
  background-color: #fafafa;
}

#flow .wrapper {
  width: 768px;
  margin: 0 auto;
  padding: 72px 0;
  position: relative;
}

#flow .line {
  position: absolute;
  top: 185px;
  left: 50%;
  transform: translate(-50%, 0);
}

#flow .line hr {
  width: 650px;
  border-color: #ab0219;
  border-top-width: 0;
  border-bottom-width: 8px;
}

#flow .title {
  margin-bottom: 36px;
}

#flow .step-box {
  width: 128px;
  margin-right: 32px;
}

#flow .step-box:last-child {
  margin-right: 0;
}

#flow .step-box img {
  position: relative;
  width: 72px;
  height: 72px;
  margin-bottom: 24px;
}

#flow .step-box h4 {
  margin-bottom: 16px;
}

/* よくある質問 */

#question {
  background-color: #fafafa;
}

#question .wrapper {
  width: 502px;
  margin: 0 auto;
  padding-bottom: 72px;
}

#question h3 {
  margin-bottom: 35px;
}

#question .q-link {
  margin-bottom: 26px;
  cursor: pointer;
}

#question .q-link #q-close-all {
  display: none;
}

#question .q-container {
  margin-bottom: 26px;
}

#question .q-container:last-child {
  margin-bottom: 0;
}

#question .q-question {
  display: flex;
  margin-bottom: 14px;
  justify-content: space-between;
  cursor: pointer;
}

#question .q-answer,
#question .q-cross-icon {
  display: none;
}

/* お問い合わせ */

#contact .wrapper {
  margin: 0 auto;
  padding: 72px 0;
}

#contact p {
  margin-bottom: 22px;
}

#contact h3 {
  margin-bottom: 32px;
}

/* フッター */

#footer {
  background-color: #ab0219;
  color: white;
  height: 318px;
}

#footer .wrapper {
  width: 288px;
  margin: 0 auto;
  padding: 72px 0;
  text-align: center;
}

#footer img {
  width: 128px;
  height: 58px;
}

#footer a {
  color: white;
}

#footer .p-1 {
  margin-top: 8px;
}

#footer .p-2 {
  margin-top: 16px;
}

#footer .p-3 {
  margin-top: 24px;
}
