@media screen and (max-width: 767px) {
  /* 共通 */
  body {
    min-width: initial !important;
    width: 100% !important;
  }

  .section_title {
    font-size: 4.5vw !important;
    line-height: normal;
  }

  /* .font-14 {
    font-size: 2vw !important;
    line-height: initial;
    width: 100%;
  } */

  .font-16 {
    font-size: 2.25vw !important;
    line-height: initial;
  }

  .font-18 {
    font-size: 2.5vw !important;
    line-height: initial;
  }

  .font-22 {
    font-size: 3vw !important;
    line-height: initial;
  }

  .font-32 {
    font-size: 4vw !important;
    line-height: initial;
  }

  /* ヘッダー */
  .sp_only {
    display: block;
  }

  .pc_only {
    display: none;
  }

  header {
    width: 100%;
    height: 80px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    /*ヘッダー対策*/
    -webkit-backface-visibility: hidden;
  }

  #h1_logo {
    position: fixed;
    top: 28px;
    left: 32px;
  }
  #head_tell {
    position: fixed;
    top: 5px;
    right: 90px;
  }

  #h1_logo img {
    width: 168px;
    height: 24px;
  }

  /*** ハンバーガーメニュー ***/
  .menu-btn {
    position: fixed;
    top: 20px;
    right: 10px;
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
  }

  span.anchorlink {
    position: relative;
    top: -70px;
    display: block;
  }

  .menu-btn span {
    color: rgb(15, 6, 6);
  }

  .menu-btn .menuOpen:after {
    content: url(online_event_btn_menu_open.png);
  }

  /* 開閉用ボタンがクリックされた時のスタイル */
  .open .menu-btn .menuOpen:after {
    content: url(online_event_btn_menu_close.ico);
  }

  .menu {
    position: fixed;
    top: 80px;
    width: 100%;
    height: 324px;
    background: #757171 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000014;
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;
  }

  .menu ul {
    display: table-cell;
    vertical-align: middle;
  }

  /* 開閉用ボタンがクリックされた時のスタイル */
  .open .menu {
    cursor: url(../images/cross.svg), auto;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    visibility: visible;
    opacity: 1;
  }

  .modal-inner {
    width: 320px;
    height: 600px;
    margin: 100px auto 0 auto;
    font-size: 20px;
    opacity: 1;
  }

  .modal-inner a {
    padding: 5px 0;
    color: white !important;
  }

  .mobal-inner_box0 {
    width: 300px;
    padding: 10px 10px 0px 10px;
  }

  .mobal-inner_box {
    width: 320px;
    height: 40px;
    margin: 20px 0 0 0;
    text-align: center;
  }

  .mobal-inner_box1 {
    width: 320px;
    height: 60px;
    margin: 20px 0 0 0;
    text-align: center;
    color: white;
  }

  .mobal-inner_box {
    width: 320px;
    margin: 10px auto 0 auto;
    text-align: center;
  }

  .modal-inner {
    margin: 60px auto 0 auto;
  }

  .modal-inner p {
    padding: 5px 0 0 0;
  }

  /* メインビジュアル */
  #top {
    margin-top: 80px;
    position: relative;
    height: auto;
    background: url("online_event_main_Image_SP@2x.png") no-repeat;
    background-size: cover;
    background-position: center;
  }

  #top .top_wrap .top_content .top_title {
    margin: 16px;
  }
  #top .top_wrap .top_content .top_text {
    margin-bottom: 16px;
  }

  #top .mv_wrap .mv_content .mv_text {
    margin: 0 auto;
  }

  #top .mv_wrap .mv_content .btn_container {
    display: none;
  }

  /* 展示会・イベント中止でこんなお悩みありませんか？ */

  #issue .issue_wrap {
    width: 83.2%;
    margin: 0 auto;
  }

  #issue .issue_card_wrap {
    flex-direction: column;
    align-items: center;
  }

  #issue .issue_card_wrap .card {
    margin-bottom: 36px;
  }

  /* リアルからオンラインの時代へ最短で最大の成果に導きます */

  #solution .solution_wrap {
    max-width: 90%;
  }

  #solution .solution_wrap .section_title {
    font-size: 4vw !important;
    width: 68%;
    margin: auto;
  }

  #solution .solution_wrap .card_wrap {
    margin-top: 5vw;
  }

  #solution .solution_wrap .card_wrap .card {
    padding: 5vw;
    margin: 0 auto 5vw;
    width: 35%;
    height: auto;
  }

  #solution .solution_wrap .card_wrap .card .card_title {
    font-size: 16px !important;
    margin: 0 auto;
    width: 100%;
  }

  #solution .solution_wrap .card_wrap .card .card_text {
    width: 100%;
    height: auto;
  }

  /* オンライン展示会・イベント事例 */

  #usage .usage_wrap {
    width: 90%;
  }

  #usage .usage_wrap .card_wrap .card {
    width: 50%;
  }

  #usage .usage_wrap .card_wrap .card_title {
    font-size: 16px !important;
  }

  /* オンライン展示会場にバーチャル空間の制作が可能 */

  #virtual .wrapper {
    width: 90%;
  }

  #virtual iframe {
    width: 100%;
    height: auto;
  }

  /* 支援サービス紹介 */

  #service .wrapper {
    width: 90%;
  }

  #service .card {
    display: block;
  }

  #service .card-img,
  #service .card-img img {
    width: 100%;
    height: auto;
  }

  #service .card:nth-child(even) div:first-child {
    margin-left: 0;
  }

  #service .card-content {
    width: 100%;
    margin-top: 64px;
    margin-bottom: 64px;
  }

  #service .card-content .text-center.font-16 {
    font-size: 16px !important;
  }

  /* ご相談から開催までの流れ */

  #flow .wrapper {
    width: 90%;
  }

  #flow .line {
    display: none;
  }

  #flow .wrapper .d-flex {
    flex-direction: column;
  }

  #flow .wrapper .d-flex .step-box {
    width:100%;
    display: flex;
    flex-direction: row-reverse;
  }

  #flow .wrapper .d-flex .step-box .step-box_icon {
    width: 50%;
  }
  #flow .wrapper .d-flex .step-box .step-box_content {
    width: 50%;
    text-align: center;
  }

  #flow .wrapper .d-flex .step-box .step-box_content .font-16{
    font-size: 14px !important;
  }

  #flow .wrapper .d-flex .step-box .step-box_content p{
    width: 140px;
    margin: auto;
  }

  /* よくある質問 */

  #question .wrapper {
    width: 90%;
  }

  #question .wrapper .q-question .d-block {
margin-left:20px
  }

  #question .wrapper .q-answer {
    margin-left:20px
      }

  /* お問い合わせ */

  #contact .wrapper {
    width: 90%;
  }

  #contact .wrapper .privacy-text {
    width: 285px;
  }
}



