@font-face {
  font-family: "Noto Sans Japanese";
  font-style: normal;
  font-weight: 400;
  src: url("../font/NotoSansCJK.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans Japanese Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../font/NotoSansCJKjp-Regular.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans Japanese Light";
  font-style: normal;
  font-weight: 400;
  src: url("../font/NotoSansCJK-light.woff") format("woff");
}

html {
  font-family: "ヒラギノ角ゴシック", "Noto Sans CJK JP", "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif !important;
  /* font-family: "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; */
  font-size: 16px;
}

body {
  min-width: 1104px;
  color: #000000;
}

p {
  margin: 0;
  font-family: "ヒラギノ角ゴシック", "Noto Sans CJK JP", "Noto Sans Japanese Light", sans-serif;
  /* font-family: "Noto Sans Japanese Light", sans-serif; */
  font-size: 16px;
}

a {
  color: #000000;
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

.font_regular {
  font-family: "Noto Sans Japanese Regular", sans-serif;
}

.font_normal {
  font-family: "Noto Sans Japanese", sans-serif;
}